#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
}

#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
}

body {
  background-color: #fcfbfb;
}

header {
  background-color: rgba(20, 30, 13, 0.7);
}

nav a:hover {
  background-color: #000;
}

.book,
.join {
  background-color: #d9c2a3;
}

.book:hover,
.join:hover {
  background-color: #000;
}

#background {
  background-color: #d9c2a3;
}

.msg {
  background-color: #6f7364;
}

footer {
  background-color: #6f7364;
}

nav a {
  color: #fcfbfb;
}

nav a:hover {
  color: #d9c2a3;
}

.home-title {
  color: #6f7364;
}

h4 {
  color: #6f7364;
}

.book,
.join {
  color: #000;
}

.book:hover,
.join:hover {
  color: #d9c2a3;
}

.msg h2 {
  color: #fcfbfb;
}

.msg p {
  color: #fcfbfb;
}

footer {
  color: #fcfbfb;
}

footer a {
  color: #fcfbfb;
}

footer a:hover {
  color: #d9c2a3;
}

.logo {
  width: 80px;
}

.icon {
  width: 80px;
}

#hero-img {
  width: 100%;
}

nav a,
.book,
.join,
footer a {
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}

footer p a:hover {
  text-decoration: underline;
}
